extends layout

block content
  div.box
    br
    br
    img(src='http://pm2.keymetrics.io/images/docker_logo.png')
    h1= title
    h2 Welcome to #{title}
    h3= "HELLO WORLD"
    img(src='http://doge2048.com/meta/doge-600.png')
    br
    br
